body {
    background:lightslategray;
    font-family:'Times New Roman', Times, serif;
}

.assignment {
    display:flex;
    padding: 10px;
    background:lightskyblue;
    margin: 10x;
}

.assignment img{
    background:lightskyblue;
}

.assingment img { 
    width: 200px;
    padding: 10px;
    border: 16px dashed darkblue;
}

h1 {
    color:darkblue;
    text-align: center;
}
a {
    text-decoration:none;
    color:darkblue;
}

a:hover{
    color: white;
}